.linguagem{
    display: flex;
    margin-top: 50px;
    border: ;
    align-items: center;
}

.texto-linguagem{
    color: #ff0000;
}
.bolinha{
    border-radius: 30px;
    height: 10px;
    width: 10px;
    background-color: aquamarine;
}