@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;

}

.navbar {
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 15px 50px;
    background-color: #1D181A;
    width: 100%;
    top: 0;
    z-index: 1000;
    height: 70px; 
    top: 0;
    left: 0;
    border-bottom: 1px solid #403534;
}
.menu .indicador {
    width: 0%;
    position: absolute;
    bottom: -30px;
    height: 3px;
    background-color: #DC143C;
    transition: width 0.3s ease, left 0.3s ease;
    transform: translateX(0%);
  }
.meu-nome {
    color: #ffffff; 
    font-size: 24px; 
    font-style: normal;
    font-weight: 500;
    line-height: 125%; 
    letter-spacing: -2.16px;

    font-family: 'Fira Code', monospace;
  }


.ponto{
    color: #DC143C; 
}  

.menu {
    flex-grow: 1; 
    display: flex;
    justify-content: end;

}

.menu ul {
    list-style: none;
    display: flex;
    
    gap: 64px; 
}

.menu ul li {
    display: inline-block;
    position: relative;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: "Manrope", sans-serif;
    padding: 10px 15px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; 
    letter-spacing: 0.5px;

}

.menu li:hover .indicador {
    width: 100%;
  }
